.formControl {
    width: 30%;
    margin-bottom: 30px !important;
}

.selector {
    color: white !important;
    background-color: #27293d;
}

.selectorValue {
    color: white !important;
    background-color: #27293d !important;
}